<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@GetLayout()"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
   private Type GetLayout()
   {
       var path = NavigationManager.Uri;

       return path switch
       {
           _ when path.Contains("/folder") => typeof(FolderLayout),
           _ when path.Contains("/landing") => typeof(LandingLayout),
           _ => typeof(MainLayout)
       };
   }
    
   [Inject] NavigationManager NavigationManager { get; set; } = null!;
}
