<div class="note-card" style="background-color: @Model.BackGroundColor">
    <div class="note-title">Notes Name : @Model.Title</div>
    <div class="note-content">
        @Model.Content
    </div>
    <div class="note-actions">
        @if (Model.IsPinned)
        {
            <MudIconButton Icon="@Icons.Material.Filled.PushPin" OnClick="MakeChangesToPinning" Variant="Variant.Outlined" />
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Filled.PushPin" OnClick="MakeChangesToPinning" Variant="Variant.Filled" />
        }
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" >
            <MudMenuItem OnClick="() => EditNote()">Edit</MudMenuItem>
            <MudMenuItem OnClick="() => Delete()">Delete</MudMenuItem>
        </MudMenu> 
    </div>
</div>